<style>
  .modal-dialog .modal-content {
    background-color: #051139 !important;
    color: white !important; 
  }

  ::-webkit-scrollbar {
  width: 20px;
}

  ::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
/* Estilo para a lista de mensagens */
.messages {
    list-style: none;
    padding: 0;
}

/* Estilo para cada mensagem */
.messages li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilo para mensagens de sucesso */
.messages li.success {
    background-color: #d4edda;
    color: #155724;
}

/* Estilo para mensagens de erro */
.messages li.error {
    background-color: #f8d7da;
    color: #721c24;
}

/* Ícone para mensagens de sucesso */
.messages li.success::before {
    content: "\f058"; /* Código do ícone de check do Font Awesome */
    font-family: 'Font Awesome 5 Free';
    margin-right: 10px;
    color: #28a745;
}

/* Ícone para mensagens de erro */
.messages li.error::before {
    content: "\f06a"; /* Código do ícone de aviso do Font Awesome */
    font-family: 'Font Awesome 5 Free';
    margin-right: 10px;
    color: #dc3545;
}

</style>
{% load custom_tags %}
<!DOCTYPE html>
<html lang="pt-br">
   {% load static %}
   {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}


   <!--
      =========================================================
      * Argon Dashboard 2 - v2.0.4
      =========================================================
      
      * Product Page: https://www.creative-tim.com/product/argon-dashboard
      * Copyright 2022 Creative Tim (https://www.creative-tim.com)
      * Licensed under MIT (https://www.creative-tim.com/license)
      * Coded by Creative Tim
      
      =========================================================
      
      * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
      -->
   <!DOCTYPE html>
   <html lang="pt-br">
      <head>
         <meta charset="utf-8" />
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         <!-- Apple Touch Icon -->
         <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon.png' %}">
         <!-- Favicon -->
         <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
         <!-- Fonts -->
         <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
         <script src="https://cdnjs.cloudflare.com/ajax/libs/taginput/1.0.0/taginput.min.js"></script>
        
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/taginput/1.0.0/taginput.min.css">
         <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>


         <!-- Nucleo Icons -->
         <link rel="stylesheet" type="text/css" href="{% static 'css/nucleo-icons.css' %}">
         <link rel="stylesheet" type="text/css" href="{% static 'css/nucleo-svg.css' %}">
         <!-- Chart.js -->
         <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
         <!-- Adicione o seguinte link ao head da sua página -->
<script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>

         <link rel="stylesheet" href="https://cdn.plyr.io/3.6.2/plyr.css" />
<script src="https://cdn.plyr.io/3.6.2/plyr.js"></script>
         <!-- Font Awesome Icons -->
         <script src="https://kit.fontawesome.com/1e74b66dca.js" crossorigin="anonymous"></script>
         <link rel="stylesheet" type="text/css" href="{% static 'css/nucleo-svg.css' %}">
         <!-- Argon Dashboard CSS -->
         <link rel="stylesheet" type="text/css" href="{% static 'css/argon-dashboard.css' %}">
         <!-- Tailwind CSS -->
         <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
         <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
         <!-- Ionicons -->
         <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule="" src="https://cdn.jsdelivr.net/npm/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
         <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
         <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


      </head>
      <body class="g-sidenav-show bg-gray-100">
         <div class="min-height-300 bg-primary position-absolute w-100"></div>
         <aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
            <div class="sidenav-header">
               <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
               <!-- Logo -->
               <a class="navbar-brand m-0" href="" target="_blank">
               <img src="{% static 'img/logo-ct-dark.png' %}" class="navbar-brand-img h-100" alt="main_logo">
               <span class="ms-1 font-weight-bold">Parnassa Imobiliaria</span>
               </a>
            </div>
            <hr class="horizontal dark mt-0">
            <div class="navbar-collapse collapse w-auto" id="sidenav-collapse-main">
                <ul class="navbar-nav">
                    <!-- Página Inicial -->
                    <li class="nav-item">
                        <a class="nav-link active flex items-center text-sm" href="{% url 'dashboard_redirect' %}">
                            <ion-icon name="home-outline" class="text-primary mr-2 text-lg"></ion-icon>
                            <span>Página Inicial</span>
                        </a>
                    </li>
                    
                    <!-- Adicionar -->
                    <li class="nav-item">
                        <a class="nav-link flex items-center text-sm" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-adicionar" aria-expanded="false">
                            <ion-icon name="person-add-outline" class="text-primary mr-2 text-lg"></ion-icon>
                            <span>Adicionar</span>
                        </a>
                        <div class="collapse" id="submenu-adicionar">
                            <ul class="list-unstyled pl-4">
                                {% if request.user|is_admin or request.user|is_correspondente %}
                                <li class="nav-item">
                                    <a class="nav-link text-sm" href="{% url 'cadastro_corretores' %}">Corretores</a>
                                </li>
            
                                <li class="nav-item">
                                    <a class="nav-link text-sm" href="{% url 'cadastro_correspondentes' %}">Correspondentes</a>
                                </li>
                                {% endif %}
                                <li class="nav-item">
                                    <a class="nav-link text-sm" href="{% url 'cliente-create' %}">Cliente</a>
                                </li>
                                {% if request.user|is_admin or request.user|is_correspondente %}
                                <li class="nav-item">
                                    <a class="nav-link text-sm" href="{% url 'adicionar_imovel' %}">Imóveis</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-sm" href="{% url 'upload_video' %}">Vídeos</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                
                    <!-- Lista -->
                    <li class="nav-item">
                        <a class="nav-link flex items-center text-sm" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-lista" aria-expanded="false">
                            <ion-icon name="people-outline" class="text-info mr-2 text-lg"></ion-icon>
                            <span>Lista</span>
                        </a>
                        <div class="collapse" id="submenu-lista">
                            <ul class="list-unstyled pl-4">
                                {% if request.user|is_admin or request.user|is_correspondente %}
                                <li class="nav-item">
                                    <a class="nav-link text-sm" href="{% url 'lista_proprietarios' %}">Proprietários</a>
                                </li>
                                {% endif %}
                                <li class="nav-item">
                                    <a class="nav-link text-sm" href="{% url 'lista_clientes' %}">Clientes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-sm" href="{% url 'lista_processos' %}">Processos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-sm" href="{% url 'lista_imoveis' %}">Imóveis</a>
                                </li>
                                {% if request.user|is_admin or request.user|is_correspondente %}
                                <li class="nav-item">
                                    <a class="nav-link text-sm" href="{% url 'lista_corretores' %}">Corretores</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                    
                    {% if request.user|is_admin %}
                    <!-- Financeiro -->
                    <li class="nav-item">
                        <a class="nav-link flex items-center text-sm" href="{% url 'financas_view' %}">
                            <ion-icon name="cash-outline" class="text-info mr-2 text-lg"></ion-icon>
                            <span>Financeiro</span>
                        </a>
                    </li>
                    {% endif %}
            
                    <!-- Consulta CPF -->
                    <li class="nav-item">
                        <a class="nav-link flex items-center text-sm" href="{% url 'consulta_cpf' %}">
                            <ion-icon name="search-outline" class="text-warning mr-2 text-lg"></ion-icon>
                            <span>Consulta CPF</span>
                        </a>
                    </li>
            
                    <!-- Tutorial -->
                    <li class="nav-item">
                        <a class="nav-link flex items-center text-sm" href="{% url 'assistir_videos' %}">
                            <ion-icon name="play-outline" class="text-primary mr-2 text-lg"></ion-icon>
                            <span>Tutorial</span>
                        </a>
                    </li>
                </ul>
            </div>
         </aside>
         <main class="main-content position-relative border-radius-lg ">
            <!-- Navbar -->
            <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
               <div class="container-fluid py-1 px-3">
                  <nav aria-label="breadcrumb">         
                  </nav>
                  <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                     <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                        <div class="input-group">
                        </div>
                     </div>
                     <ul class="navbar-nav  justify-content-end">
                        <li class="nav-item d-flex align-items-center dropdown">
                           <a href="javascript:;" class="nav-link text-white font-weight-bold px-0 dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           <i class="fa fa-user me-sm-1"></i>
                           <span class="d-sm-inline d-none">{{ username }}</span>
                           </a>
                           <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="top: 0px !important;">
                              <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}" style="color: white !important;">
                                 <ion-icon name="log-out-outline" class="text-danger me-2"></ion-icon>
                                 Sair
                              </a>
                              <a class="dropdown-item d-flex align-items-center" href="{% url 'settings' %}" style="color: white !important;">
                                 <ion-icon name="settings-outline" class="text-danger me-2"></ion-icon>
                                 Configurações
                              </a>
                           </div>
                        </li>
                        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                           <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
                              <div class="sidenav-toggler-inner">
                                 <i class="sidenav-toggler-line bg-white"></i>
                                 <i class="sidenav-toggler-line bg-white"></i>
                                 <i class="sidenav-toggler-line bg-white"></i>
                              </div>
                           </a>
                        </li>
                        <li class="nav-item px-3 d-flex align-items-center">
                           <a href="javascript:;" class="nav-link text-white p-0">
                           
                           </a>
                        </li>
                           </ul>
                        </li>
                     </ul>
                  </div>
               </div>
            </nav>
            <!-- End Navbar -->
            <div>{% block main_content %}{% endblock %}</div>
         </main>
         <div class="fixed-plugin">
            <div class="card shadow-lg">
               <div class="card-header pb-0 pt-3 ">
                  <div class="float-start">
                     <h5 class="mt-3 mb-0">Argon Configurator</h5>
                     <p>See our dashboard options.</p>
                  </div>
                  <div class="float-end mt-4">
                     <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
                     <i class="fa fa-close"></i>
                     </button>
                  </div>
                  <!-- End Toggle Button -->
               </div>
               <hr class="horizontal dark my-1">
               <div class="card-body pt-sm-3 pt-0 overflow-auto">
                  <!-- Sidebar Backgrounds -->
                  <div>
                     <h6 class="mb-0">Sidebar Colors</h6>
                  </div>
                  <a href="javascript:void(0)" class="switch-trigger background-color">
                     <div class="badge-colors my-2 text-start">
                        <span class="badge filter bg-gradient-primary active" data-color="primary" onclick="sidebarColor(this)"></span>
                        <span class="badge filter bg-gradient-dark" data-color="dark" onclick="sidebarColor(this)"></span>
                        <span class="badge filter bg-gradient-info" data-color="info" onclick="sidebarColor(this)"></span>
                        <span class="badge filter bg-gradient-success" data-color="success" onclick="sidebarColor(this)"></span>
                        <span class="badge filter bg-gradient-warning" data-color="warning" onclick="sidebarColor(this)"></span>
                        <span class="badge filter bg-gradient-danger" data-color="danger" onclick="sidebarColor(this)"></span>
                     </div>
                  </a>
                  <!-- Sidenav Type -->
                  <div class="mt-3">
                     <h6 class="mb-0">Sidenav Type</h6>
                     <p class="text-sm">Choose between 2 different sidenav types.</p>
                  </div>
                  <div class="d-flex">
                     <button class="btn bg-gradient-primary w-100 px-3 mb-2 active me-2" data-class="bg-white" onclick="sidebarType(this)">White</button>
                     <button class="btn bg-gradient-primary w-100 px-3 mb-2" data-class="bg-default" onclick="sidebarType(this)">Dark</button>
                  </div>
                  <p class="text-sm d-xl-none d-block mt-2">You can change the sidenav type just on desktop view.</p>
                  <!-- Navbar Fixed -->
                  <div class="d-flex my-3">
                     <h6 class="mb-0">Navbar Fixed</h6>
                  </div>
                  <hr class="horizontal dark my-sm-4">
                  <div class="mt-2 mb-5 d-flex">
                     <h6 class="mb-0">Light / Dark</h6>
                     <div class="form-check form-switch ps-0 ms-auto my-auto">
                        <input class="form-check-input mt-1 ms-auto" type="checkbox" id="dark-version" checked onclick="darkMode(this)">
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!--   Core JS Files   -->
         <script src="{% static 'js/core/popper.min.js' %}"></script>
         <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
         <script src="{% static 'js/plugins/perfect-scrollbar.min.js' %}"></script>
         <script src="{% static 'js/plugins/smooth-scrollbar.min.js' %}"></script>
         <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>  
         <!-- Bootstrap JS -->
         <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
         <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
         <script>
            var win = navigator.platform.indexOf('Win') > -1;
            if (win && document.querySelector('#sidenav-scrollbar')) {
              var options = {
                damping: '0.5'
              }
              Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
            }

         </script>
         <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Seleciona todos os links dentro do sidenav que possuem o atributo data-bs-toggle="collapse"
                var collapseLinks = document.querySelectorAll('.navbar-collapse .nav-link[data-bs-toggle="collapse"]');
            
                collapseLinks.forEach(function(link) {
                    link.addEventListener('click', function(event) {
                        // Impede que o evento de clique propague, evitando que o sidenav principal se feche
                        event.stopPropagation();
                        
                        // Manipula a expansão ou colapso do submenu alvo sem afetar o sidenav principal
                        var collapseTargetId = this.getAttribute('data-bs-target');
                        var collapseTarget = document.querySelector(collapseTargetId);
                        if (collapseTarget.classList.contains('show')) {
                            collapseTarget.classList.remove('show');
                        } else {
                            collapseTarget.classList.add('show');
                        }
                    });
                });
            });
            </script>
         <script>    
            document.addEventListener("DOMContentLoaded", function() {
              darkMode(document.getElementById("dark-version"));
            });
         </script>
         <!-- Github buttons -->
         <script async defer src="https://buttons.github.io/buttons.js"></script>
         <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->  
         <script src="{% static 'js/argon-dashboard.min.js' %}"></script>
      </body>
   </html>