<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário Estilizado</title>

    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <!-- Heroicons - for some icons (optional) -->
    <script src="https://cdn.jsdelivr.net/npm/heroicons@1.0.4/dist/heroicons.min.js"></script>
</head>
<body class="bg-blue-900">

    <div class="min-h-screen flex items-center justify-center">
        <div class="bg-white p-8 rounded-lg shadow-lg w-96">
            <div class="mb-4 text-center">
                <h1 class="text-3xl font-bold mb-2">Bem-vindo</h1>
                <p class="text-gray-500">Por favor, preencha o formulário abaixo. obs: não adicione o "9" no numero de telefone.</p>
            </div>
    
            <form method="post" class="space-y-4">
                {% csrf_token %}
                
                {% for field in form %}
                <div>
                    <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-600">{{ field.label }}</label>
                    {% if field.name == "telefone" %}
                    <div class="flex border rounded-md mt-1">
                        <span class="p-2 bg-gray-100 border-r">+55</span>
                        <input 
                            id="{{ field.id_for_label }}" 
                            type="text" 
                            name="{{ field.name }}" 
                            class="flex-grow p-2"
                            placeholder="DDD Número"
                        >
                    </div>
                    {% else %}
                    <input 
                        id="{{ field.id_for_label }}" 
                        type="text" 
                        name="{{ field.name }}" 
                        class="mt-1 p-2 w-full border rounded-md" 
                        placeholder="Digite seu {{ field.label|lower }}"
                    >
                    {% endif %}
                    {% if field.errors %}
                    <p class="mt-1 text-red-500 text-sm">{{ field.errors.0 }}</p>
                    {% endif %}
                </div>
                {% endfor %}
    
                <button type="submit" class="w-full py-2 px-3 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:bg-blue-700">Enviar</button>
            </form>
        </div>
    </div>
    

</body>
</html>
