<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load widget_tweaks %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Cliente</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gradient-to-r from-green-400 to-blue-500 h-screen font-sans">

<div class="container mx-auto h-full flex justify-center items-center py-4">
    <div class="max-w-4xl w-full bg-white p-8 rounded-xl shadow-md">
        <h1 class="text-2xl mb-5 text-center font-bold text-gray-700">Cadastro de Cliente</h1>
        
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <!-- Nome -->
            <div class="form-group mb-4">
                <label for="{{ form.nome.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ form.nome.label }}</label>
                {{ form.nome|add_class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"|attr:"aria-label:Nome" }}
                {% if form.nome.errors %}
                    <span class="text-red-500">{{ form.nome.errors.0 }}</span>
                {% endif %}
            </div>

            <!-- Email -->
            <div class="form-group mb-4">
                <label for="{{ form.email.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ form.email.label }}</label>
                {{ form.email|add_class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"|attr:"aria-label:Email" }}
                {% if form.email.errors %}
                    <span class="text-red-500">{{ form.email.errors.0 }}</span>
                {% endif %}
            </div>

            <!-- Telefone -->
            <div class="form-group mb-4">
                <label for="{{ form.telefone.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ form.telefone.label }}</label>
                {{ form.telefone|add_class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"|attr:"aria-label:Telefone" }}
                {% if form.telefone.errors %}
                    <span class="text-red-500">{{ form.telefone.errors.0 }}</span>
                {% endif %}
            </div>

            <!-- Corretor -->
            <div class="form-group mb-4">
                <label for="{{ form.corretor.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ form.corretor.label }}</label>
                {{ form.corretor|add_class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"|attr:"aria-label:Corretor" }}
                {% if form.corretor.errors %}
                    <span class="text-red-500">{{ form.corretor.errors.0 }}</span>
                {% endif %}
            </div>

            <!-- CPF -->
            <div class="form-group mb-4">
                <label for="{{ form.cpf.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ form.cpf.label }}</label>
                {{ form.cpf|add_class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"|attr:"aria-label:CPF" }}
                {% if form.cpf.errors %}
                    <span class="text-red-500">{{ form.cpf.errors.0 }}</span>
                {% endif %}
            </div>

            <!-- Estado Civil -->
            <div class="form-group mb-4">
                <label for="{{ form.estado_civil.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ form.estado_civil.label }}</label>
                {{ form.estado_civil|add_class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"|attr:"aria-label:Estado Civil" }}
                {% if form.estado_civil.errors %}
                    <span class="text-red-500">{{ form.estado_civil.errors.0 }}</span>
                {% endif %}
            </div>

            <!-- Naturalidade -->
            <div class="form-group mb-4">
                <label for="{{ form.naturalidade.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ form.naturalidade.label }}</label>
                {{ form.naturalidade|add_class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"|attr:"aria-label:Naturalidade" }}
                {% if form.naturalidade.errors %}
                    <span class="text-red-500">{{ form.naturalidade.errors.0 }}</span>
                {% endif %}
            </div>

            <!-- Profissão -->
            <div class="form-group mb-4">
                <label for="{{ form.profissao.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ form.profissao.label }}</label>
                {{ form.profissao|add_class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"|attr:"aria-label:Profissão" }}
                {% if form.profissao.errors %}
                    <span class="text-red-500">{{ form.profissao.errors.0 }}</span>
                {% endif %}
            </div>

            <!-- Data de Admissão -->
            <div class="form-group mb-4">
                <label for="{{ form.data_admissao.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ form.data_admissao.label }}</label>
                {{ form.data_admissao|add_class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"|attr:"aria-label:Data de Admissão" }}
                {% if form.data_admissao.errors %}
                    <span class="text-red-500">{{ form.data_admissao.errors.0 }}</span>
                {% endif %}
            </div>

            <!-- Data de Nascimento -->
            <div class="form-group mb-4">
                <label for "{{ form.data_nascimento.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ form.data_nascimento.label }}</label>
                {{ form.data_nascimento|add_class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"|attr:"aria-label:Data de Nascimento" }}
                {% if form.data_nascimento.errors %}
                    <span class="text-red-500">{{ form.data_nascimento.errors.0 }}</span>
                {% endif %}
            </div>

            <!-- Tipo de Renda -->
            <div class="form-group mb-4">
                <label for="{{ form.renda_tipo.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ form.renda_tipo.label }}</label>
                {{ form.renda_tipo|add_class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"|attr:"aria-label:Tipo de Renda" }}
                {% if form.renda_tipo.errors %}
                    <span class="text-red-500">{{ form.renda_tipo.errors.0 }}</span>
                {% endif %}
            </div>

            <!-- Possui Carteira Há Mais de 3 Anos? -->
            <div class="form-group mb-4">
                <label for="{{ form.possui_carteira_mais_tres_anos.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ form.possui_carteira_mais_tres_anos.label }}</label>
                {{ form.possui_carteira_mais_tres_anos|add_class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"|attr:"aria-label:Possui Carteira Há Mais de 3 Anos?" }}
                {% if form.possui_carteira_mais_tres_anos.errors %}
                    <span class="text-red-500">{{ form.possui_carteira_mais_tres_anos.errors.0 }}</span>
                {% endif %}
            </div>

            <!-- Número PIS -->
            <div class="form-group mb-4">
                <label for="{{ form.numero_pis.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ form.numero_pis.label }}</label>
                {{ form.numero_pis|add_class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"|attr:"aria-label:Número PIS" }}
                {% if form.numero_pis.errors %}
                    <span class="text-red-500">{{ form.numero_pis.errors.0 }}</span>
                {% endif %}
            </div>

            <!-- Possui Dependente? -->
            <div class="form-group mb-4">
                <label for="{{ form.possui_dependente.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ form.possui_dependente.label }}</label>
                {{ form.possui_dependente|add_class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"|attr:"aria-label:Possui Dependente?" }}
                {% if form.possui_dependente.errors %}
                    <span class="text-red-500">{{ form.possui_dependente.errors.0 }}</span>
                {% endif %}
            </div>

            <!-- Documentação -->
            <div class="form-group mb-4">
                <label for="{{ form.documentacao.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ form.documentacao.label }}</label>
                {{ form.documentacao|add_class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"|attr:"aria-label:Documentação" }}
                {% if form.documentacao.errors %}
                    <span class="text-red-500">{{ form.documentacao.errors.0 }}</span>
                {% endif %}
            </div>

            <!-- Botão de Submissão -->
            <div class="mt-6">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" aria-label="Salvar">Salvar</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>
